(
  axes: {
    "player_updown": Emulated(pos: Key(W), neg: Key(S)),
    "player_leftright": Emulated(pos: Key(D), neg: Key(A)),
  },
  actions: {
    "shoot_left": [
        [Key(Left)],
    ],
    "shoot_right": [
        [Key(Right)],
    ],
    "shoot_up": [
        [Key(Up)],
    ],
    "shoot_down": [
        [Key(Down)],
    ],
  },
)