(
  axes: {
    "player_updown": Emulated(pos: Key(W), neg: Key(S)),
    "player_leftright": Emulated(pos: Key(D), neg: Key(A)),
  },
  actions: {
    "hi": [
        [Key(F), Key(G)],
        [Key(U)],
    ],
  },
)