(
  title: "GAME!",
  dimensions: Some((1366, 768)),
  max_dimensions: Some((1366, 768)),
  min_dimensions: Some((1366, 768)),
  fullscreen: false,
  multisampling: 0,
  visibility: true,
  vsync: true,
)