(
    spritesheet_width: 2734,
    spritesheet_height: 1537,
    sprites: [
( //ClockEnemy
 x: 1428,
 y: 830,
 width: 45,
 height: 45,
),
( //DamagePower1
 x: 1413,
 y: 983,
 width: 33,
 height: 50,
),
( //DamagePower2
 x: 1367,
 y: 1029,
 width: 33,
 height: 50,
),
( //DamagePower3
 x: 1581,
 y: 815,
 width: 33,
 height: 50,
),
( //DamagePower4
 x: 1627,
 y: 769,
 width: 33,
 height: 50,
),
( //DamagePower5
 x: 1459,
 y: 953,
 width: 33,
 height: 50,
),
( //DamagePower6
 x: 1505,
 y: 907,
 width: 33,
 height: 50,
),
( //DeadEnemny1
 x: 1489,
 y: 769,
 width: 45,
 height: 45,
),
( //DeadEnemny2
 x: 1367,
 y: 891,
 width: 45,
 height: 45,
),
( //DeadEnemny3
 x: 1413,
 y: 891,
 width: 45,
 height: 45,
),
( //Enemy_Shoot
 x: 1428,
 y: 876,
 width: 10,
 height: 10,
),
( //ExtraTime1
 x: 1367,
 y: 937,
 width: 45,
 height: 45,
),
( //ExtraTime2
 x: 1489,
 y: 815,
 width: 45,
 height: 45,
),
( //FloorTile
 x: 1367,
 y: 769,
 width: 60,
 height: 60,
),
( //OtherTile
 x: 1367,
 y: 830,
 width: 60,
 height: 60,
),
( //Player_Shoot
 x: 1474,
 y: 830,
 width: 10,
 height: 10,
),
( //PlayerBetter1
 x: 1535,
 y: 769,
 width: 45,
 height: 45,
),
( //PlayerBetter2
 x: 1581,
 y: 769,
 width: 45,
 height: 45,
),
( //PlayerBetter3
 x: 1535,
 y: 815,
 width: 45,
 height: 45,
),
( //PlayerBetter4
 x: 1413,
 y: 937,
 width: 45,
 height: 45,
),
( //PlayerBetterInvul1
 x: 1367,
 y: 983,
 width: 45,
 height: 45,
),
( //PlayerBetterInvul2
 x: 1474,
 y: 861,
 width: 45,
 height: 45,
),
( //PlayerBetterInvul3
 x: 1459,
 y: 907,
 width: 45,
 height: 45,
),
( //PlayerBetterInvul4
 x: 1520,
 y: 861,
 width: 45,
 height: 45,
),
( //ProjPower1
 x: 1661,
 y: 769,
 width: 33,
 height: 50,
),
( //ProjPower2
 x: 1539,
 y: 907,
 width: 33,
 height: 50,
),
( //ProjPower3
 x: 1615,
 y: 820,
 width: 33,
 height: 50,
),
( //ProjPower4
 x: 1573,
 y: 866,
 width: 33,
 height: 50,
),
( //ProjPower5
 x: 1367,
 y: 1080,
 width: 33,
 height: 50,
),
( //ProjPower6
 x: 1401,
 y: 1034,
 width: 33,
 height: 50,
),
( //ShootFastPower1
 x: 1493,
 y: 958,
 width: 33,
 height: 50,
),
( //ShootFastPower2
 x: 1447,
 y: 1004,
 width: 33,
 height: 50,
),
( //ShootFastPower3
 x: 1695,
 y: 769,
 width: 33,
 height: 50,
),
( //ShootFastPower4
 x: 1649,
 y: 820,
 width: 33,
 height: 50,
),
( //ShootFastPower5
 x: 1527,
 y: 958,
 width: 33,
 height: 50,
),
( //ShootFastPower6
 x: 1401,
 y: 1085,
 width: 33,
 height: 50,
),
( //SpeedPower1
 x: 1607,
 y: 871,
 width: 33,
 height: 50,
),
( //SpeedPower2
 x: 1573,
 y: 917,
 width: 33,
 height: 50,
),
( //SpeedPower3
 x: 1729,
 y: 769,
 width: 33,
 height: 50,
),
( //SpeedPower4
 x: 1367,
 y: 1131,
 width: 33,
 height: 50,
),
( //SpeedPower5
 x: 1435,
 y: 1055,
 width: 33,
 height: 50,
),
( //SpeedPower6
 x: 1481,
 y: 1009,
 width: 33,
 height: 50,
),
( //Vertical_Wall
 x: 1561,
 y: 958,
 width: 7,
 height: 60,
),
( //Wall
 x: 1428,
 y: 769,
 width: 60,
 height: 60,
),
( //WallClock
 x: 1683,
 y: 820,
 width: 30,
 height: 50,
),
( //WallClock1
 x: 1641,
 y: 871,
 width: 30,
 height: 50,
),
( //WallClock2
 x: 1515,
 y: 1009,
 width: 30,
 height: 50,
),
( //WallClock3
 x: 1607,
 y: 922,
 width: 30,
 height: 50,
),
( //WallClock4
 x: 1763,
 y: 769,
 width: 30,
 height: 50,
),
( //z_game_over_screen
 x: 0,
 y: 0,
 width: 1366,
 height: 768,
),
( //z_PuaseScreen
 x: 0,
 y: 769,
 width: 1366,
 height: 768,
),
( //z_start_screen
 x: 1367,
 y: 0,
 width: 1366,
 height: 768,
),
    ],
)