(
    spritesheet_width: 2734,
    spritesheet_height: 1537,
    sprites: [
( //ClockEnemy
 x: 1550,
 y: 830,
 width: 45,
 height: 45,
),
( //DamagePower1
 x: 1596,
 y: 861,
 width: 33,
 height: 50,
),
( //DamagePower2
 x: 1630,
 y: 861,
 width: 33,
 height: 50,
),
( //DamagePower3
 x: 1367,
 y: 1124,
 width: 33,
 height: 50,
),
( //DamagePower4
 x: 1413,
 y: 1084,
 width: 33,
 height: 50,
),
( //DamagePower5
 x: 1459,
 y: 1038,
 width: 33,
 height: 50,
),
( //DamagePower6
 x: 1596,
 y: 912,
 width: 33,
 height: 50,
),
( //DeadEnemny1
 x: 1611,
 y: 769,
 width: 45,
 height: 45,
),
( //DeadEnemny2
 x: 1367,
 y: 1032,
 width: 45,
 height: 45,
),
( //DeadEnemny3
 x: 1489,
 y: 931,
 width: 45,
 height: 45,
),
( //Enemy_Shoot
 x: 1596,
 y: 830,
 width: 10,
 height: 10,
),
( //ExtraTime1
 x: 1428,
 y: 992,
 width: 45,
 height: 45,
),
( //ExtraTime2
 x: 1611,
 y: 815,
 width: 45,
 height: 45,
),
( //FloorTile
 x: 1428,
 y: 870,
 width: 60,
 height: 60,
),
( //OtherTile
 x: 1550,
 y: 769,
 width: 60,
 height: 60,
),
( //Player_Shoot
 x: 1596,
 y: 841,
 width: 10,
 height: 10,
),
( //PlayerBetter1
 x: 1550,
 y: 876,
 width: 45,
 height: 45,
),
( //PlayerBetter2
 x: 1657,
 y: 769,
 width: 45,
 height: 45,
),
( //PlayerBetter3
 x: 1367,
 y: 1078,
 width: 45,
 height: 45,
),
( //PlayerBetter4
 x: 1474,
 y: 992,
 width: 45,
 height: 45,
),
( //PlayerBetterInvul1
 x: 1413,
 y: 1038,
 width: 45,
 height: 45,
),
( //PlayerBetterInvul2
 x: 1535,
 y: 931,
 width: 45,
 height: 45,
),
( //PlayerBetterInvul3
 x: 1657,
 y: 815,
 width: 45,
 height: 45,
),
( //PlayerBetterInvul4
 x: 1703,
 y: 769,
 width: 45,
 height: 45,
),
( //ProjPower1
 x: 1520,
 y: 977,
 width: 33,
 height: 50,
),
( //ProjPower2
 x: 1703,
 y: 815,
 width: 33,
 height: 50,
),
( //ProjPower3
 x: 1749,
 y: 769,
 width: 33,
 height: 50,
),
( //ProjPower4
 x: 1664,
 y: 861,
 width: 33,
 height: 50,
),
( //ProjPower5
 x: 1554,
 y: 977,
 width: 33,
 height: 50,
),
( //ProjPower6
 x: 1493,
 y: 1038,
 width: 33,
 height: 50,
),
( //ShootFastPower1
 x: 1367,
 y: 1175,
 width: 33,
 height: 50,
),
( //ShootFastPower2
 x: 1630,
 y: 912,
 width: 33,
 height: 50,
),
( //ShootFastPower3
 x: 1447,
 y: 1089,
 width: 33,
 height: 50,
),
( //ShootFastPower4
 x: 1401,
 y: 1135,
 width: 33,
 height: 50,
),
( //ShootFastPower5
 x: 1783,
 y: 769,
 width: 33,
 height: 50,
),
( //ShootFastPower6
 x: 1588,
 y: 963,
 width: 33,
 height: 50,
),
( //SpeedPower1
 x: 1527,
 y: 1028,
 width: 33,
 height: 50,
),
( //SpeedPower2
 x: 1737,
 y: 820,
 width: 33,
 height: 50,
),
( //SpeedPower3
 x: 1698,
 y: 866,
 width: 33,
 height: 50,
),
( //SpeedPower4
 x: 1481,
 y: 1089,
 width: 33,
 height: 50,
),
( //SpeedPower5
 x: 1664,
 y: 912,
 width: 33,
 height: 50,
),
( //SpeedPower6
 x: 1622,
 y: 963,
 width: 33,
 height: 50,
),
( //Vertical_Wall
 x: 1367,
 y: 971,
 width: 60,
 height: 60,
),
( //Wall
 x: 1428,
 y: 931,
 width: 60,
 height: 60,
),
( //WallClock
 x: 1817,
 y: 769,
 width: 30,
 height: 50,
),
( //WallClock1
 x: 1367,
 y: 769,
 width: 60,
 height: 100,
),
( //WallClock2
 x: 1428,
 y: 769,
 width: 60,
 height: 100,
),
( //WallClock3
 x: 1367,
 y: 870,
 width: 60,
 height: 100,
),
( //WallClock4
 x: 1489,
 y: 769,
 width: 60,
 height: 100,
),
( //z_game_over_screen
 x: 0,
 y: 0,
 width: 1366,
 height: 768,
),
( //z_PuaseScreen
 x: 0,
 y: 769,
 width: 1366,
 height: 768,
),
( //z_start_screen
 x: 1367,
 y: 0,
 width: 1366,
 height: 768,
),
( //zzl_Wall
 x: 1489,
 y: 870,
 width: 60,
 height: 60,
),
    ],
)